@model ToolRentalClassLibrary.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>

<div>
    <h4>Reservationer</h4>

    <table class="table">
        @{
            ToolRentalClassLibrary.ToolRentalDbContext db = ToolRentalClassLibrary.ToolRentalDBInitializer.GetToolRentalDbContext();
            List<ToolRentalClassLibrary.Reservation> reservations = db.ReservationSet.ToList().FindAll(res => res.CustomerRefId == Model.CustomerId);

        }
        <tr>
            <th>
                Værktøj
            </th>
            <th>
                Id
            </th>
            <th>
                Start
            </th>
            <th>
                Slut
            </th>
        </tr>


        @foreach (var res in reservations)
        {
            int toolId = res.ToolRefId;
            ToolRentalClassLibrary.Tool tool = db.ToolSet.Find(toolId);

            int toolTypeId = tool.ToolTypeRefId;
            ToolRentalClassLibrary.ToolType toolType = db.ToolTypeSet.Find(toolTypeId);

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => toolType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => toolId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => res.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => res.End)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { customerId = Model.CustomerId, toolId = toolId }) @*|
                        @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })*@
                </td>
            </tr>
        }
    </table>
</div>

    <p>
        @*@Html.ActionLink("Opret reservation", "CreateReservation", "Reservations", Model.CustomerId.ToString())*@
        @Html.ActionLink("Opret reservation", "Index", "Tools")
    </p>


